extends layout

block head
    meta(http-equiv='refresh', content='20')

block content
    div.row
        div.col-md-1
        div.col-md-10
            h1 Bundles
            each project, name in projects
                h3 #{name}
                table.table.table-striped.table-hover.table-responsive
                    thead
                        tr
                            th Bundle Name
                            th Created
                            th Size
                            th Downloads
                            th Average Time
                            th Bundle
                            th File
                    tbody
                        for file in project
                            tr
                                td
                                    strong=file.name
                                td=file.details.ctime
                                td=file.details.size
                                td=file.download_count
                                td=file.avg_time
                                td=file.bundle
                                td
                                    a.btn.btn-sm.btn-info(type='button', href='/ui/' + name + '/' + file.name) Info
                                    a.btn.btn-sm.btn-warning(type='button', href='/ui/delete/' + name + '/' + file.name) Delete
                                    a.btn.btn-sm.btn-success(type='button', href='/ui/download/' + name + '/' + file.name) Download
        div.col-md-1
