extends layout

block head
    meta(http-equiv='refresh', content='20')

block content
    div.grid
        div.col-1-12
        div.col-10-12
            h1 Bundles
            each project, name in projects
                h3 #{name}
                table.table.responsive
                    thead
                        tr
                            th Bundle Name
                            th Created
                            th Size
                            th Downloads
                            th Average Time
                            th Bundle
                            th File
                    tbody
                        for file in project
                            tr
                                td
                                    strong=file.name
                                td=file.details.ctime
                                td=file.details.size
                                td=file.download_count
                                td=file.avg_time
                                td(style="max-width:50px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;")=file.bundle
                                td
                                    a.btn.btn-info(href='/ui/' + name + '/' + file.name) Info
                                    a.btn.btn-warning(href='/ui/delete/' + name + '/' + file.name) Delete
                                    a.btn.btn-success(href='/ui/download/' + name + '/' + file.name) Download
        div.col-1-12
