extends layout

block content
    div.container
        br
        if(!presentation)
            blockquote
                p
                    | I have #{count.files} bundle(s) and #{count.projects} project(s) at the moment and I'm using around #{process.heap} of memory.
                small
                    | Granary Server
        div.jumbotron.intro.text-center
            h1 Granary Server
            if(src)
                img.logo(alt='Granary Server', src='data:img/png;base64,#{src}')
            else
                img.logo(src='/static/img/logo.svg', alt='Granary Server')
            br
            a(href="https://github.com/gabrielcsapo/granary" target="_blank").btn.btn-primary
                | Client Source
            | &nbsp;
            a(href="https://github.com/gabrielcsapo/granary-server" target="_blank").btn.btn-info
                | Server Source
        blockquote(style="border-color:#a94442").text-danger
            | Granary and Granary-Server are under alpha development and have not even reached 0.0.1 status, beware of sharks
        hr
        h3.text-center What is Granary?
        br
        div.text-center
            i Granary is an NPM / Bower bundling Server
        br
        small
            i problem
        div
            | It does not replace NPM or bower when it comes to depency maintance.
            | Granary is a project bundler. When developing Node.js applications NPM is widely used for package depencies.
            | Depending on the speed of your internet NPM might take quite a while to multiplex your downloads and compile them to finally begin development.
        br
        small
            i solution
        div
            span!=marked("Granary helps by being deployed on cloud provider and access to high speed internet it will bundle your npm and bower dependencies and send them to you as one gzipped folder which it will unpack into the corresponding `node_modules` and `bower_components` directories ready to use.")
        hr
        h3.text-center What are the speed benefits?
        br
        div!=marked("In order to give a speed comparison I will compare basic `time NODE_ENV=production npm install` and then an install from `Granary Server`")
        table.table.table-responsive
            thead
                tr
                    th NPM
                    th Granary Server
            tbody
                tr
                    th
                        span!=marked("`time NODE_ENV=production npm install`")
                        span!=marked("`real	1m7.121s`")
                    th
                        span!=marked("`granary -u=http://granaryjs.com --production`")
                        span!=marked("`Downloading bundle: |||||||||||||||||||| 100% 0.0s 7.95 MB`")
                        span!=marked("`Extracting bundle...`")
                        span!=marked("`Running NPM rebuild...`")
                        span!=marked("`Granary is done in 18.203 seconds.`")
        hr
        h3.text-center Install Granary
        br
        pre
            code
                | npm install granary -g
        h3.text-center What Does Granary Do?
        hr
        div.row
            div.col-md-6
                | Granary can create production and development bundles of your projects
            div.col-md-6
                pre
                    code
                        | granary create -u=http://localhost:8872
        hr
        div.row
            div.col-md-6
                | Granary installs the development bundle by default
            div.col-md-6
                pre
                    code
                        | granary -u=http://localhost:8872
        hr
        div.row
            div.col-md-6
                | Granary also allows you to specify production bundle
            div.col-md-6
                pre
                    code
                        | granary -u=http://localhost:8872 --production
        hr
        h3.text-center Install your own Server!
        hr
        div.row
            div.col-md-6
                | Clone the server
            div.col-md-6
                pre
                    code
                        | git clone https://github.com/gabrielcsapo/granary-server.git
        hr
        div.row
            div.col-md-6
                | Install a redis server
            div.col-md-6
                small
                    i brew
                pre
                    code
                        | brew install redis
                small
                    i apt
                pre
                    code
                        | sudo apt-get -y install redis-server;
        hr
        div.row
            div.col-md-6
                | Install node dependencies
            div.col-md-6
                pre
                    code
                        | npm install
        hr
        div.row
            div.col-md-6
                | Start the server!
            div.col-md-6
                pre
                    code
                        | npm start;
                br
                small Start the server with a custom config
                br
                br
                pre
                    code
                        | GRANARY_CONFIG=/ npm start;
        hr
        h3.text-center Install your own Server!
        h6.text-center Sometimes we need some security
        hr
        div.row
            div.col-md-6
                | Password
            div.col-md-6
                span!=marked('Granary Server automatically configures a password for you. You can change it by modifying the [dev.json](https://github.com/gabrielcsapo/granary-server/blob/master/config/config.js) file.')
                span!=marked('A password setting of `""` (empty string) indicates that the Granary Server will not require a password for any actions.')
                span!=marked('Server will start on port `8872`. You should be able to navigate to the dashboard:')
        div.row
            div.col-md-6
                | Configuration
            div.col-md-6
                span!=marked("See [config/config.js](https://github.com/gabrielcsapo/granary-server/blob/master/config/config.js#L11) for available configuration options and environment variables. The Granary Server uses [node-convict](https://github.com/mozilla/node-convict) to manage configuration.")
